@charset "UTF-8";
/* WoodTail CSS 2025 */
:root,
[data-bs-theme=light] {

  --wt-gray-dark: #1c1c1e;
  --wt-gray-100: #f8f9fa;
  --wt-gray-200: #e9ecef;
  --wt-gray-300: #dee2e6;
  --wt-gray-400: #ced4da;
  --wt-gray-500: #adb5bd;
  --wt-gray-600: #6c757d;
  --wt-gray-700: #495057;
  --wt-gray-800: #343a40;
  --wt-gray-900: #212529;


  --wt-color-a1: #49a078;
  --wt-color-a2: #216869;
  --wt-color-b1: #9cc5a1;
  --wt-color-b2: #e2ffe7;

  --wt-color-light: #dce1de;
  --wt-color-dark: #1f2421;

  --wt-body-bg1: #f3f3f3;
  --wt-body-bg2: #d6d6d6;
  --wt-body-bg3: #ffffff;

  --wt-highlight-bg: var(--wt-color-b2);

  --wt-box-shadow-out: 20px 20px 60px #d6d6d6, -20px -20px 60px #ffffff;
  --wt-box-shadow-in: inset 13px 13px 40px #e9e9e9, inset -13px -13px 40px #fdfdfd;

  --wt-emphasis-color: var(--wt-color-a1);
  --wt-secondary-color: var(--wt-color-a2);
  --wt-tertiary-color: var(--wt-color-b1);


  --wt-text-color: var(--wt-gray-800);
  --wt-text-color-light: var(--wt-gray-600);
  --wt-link-color: var(--wt-color-a1);
  --wt-link-hover-color: var(--wt-color-a2);

  --wt-loading-color1: var(--wt-gray-700);
  --wt-loading-color2: var(--wt-color-a1);

  --wt-code-color: #d63384;
  --wt-code-bg: var(--wt-gray-200);

  --wt-border: 2px solid var(--wt-color-a1);
  --wt-border-radius: 8px;

}

[data-bs-theme=dark] {

  --wt-color-a1: #49a078;
  --wt-color-a2: #216869;
  --wt-color-b1: #9cc5a1;
  --wt-color-b2: #e2ffe7;

  --wt-color-light: #dce1de;
  --wt-color-dark: #1f2421;

  --wt-body-bg1: #212529;
  --wt-body-bg2: #202020;

  --wt-shadow-1: #1c1f23;
  --wt-shadow-2: #262b2f;
  --wt-shadow-3: #1c2023;
  --wt-shadow-4: #262a2f;

  --wt-box-shadow-out:20px 20px 60px #1c1f23, -20px -20px 60px #262b2f;
  --wt-box-shadow-in: inset 8px 8px 16px #1c2023, inset -8px -8px 16px #262a2f;


  --wt-emphasis-color: var(--wt-color-a1);
  --wt-secondary-color: var(--wt-color-a2);
  --wt-tertiary-color: var(--wt-color-b1);

  --wt-text-color: var(--wt-gray-300);
  --wt-link-color: var(--wt-color-a1);
  --wt-link-hover-color: var(--wt-color-a2);

  --wt-border: 2px solid var(--wt-color-a1);
  --wt-border-radius: 8px;

  --wt-code-color: #d63384;
  --wt-code-bg: var(--wt-gray-200);




}







/* theme apply */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--wt-text-color);
  background-color: var(--wt-body-bg1);

}

body{
  display: block;
  color: var(--wt-text-color);
  background-color: var(--wt-body-bg1);
  margin: auto;
  padding: 1em;
}

a {
  color: var(--wt-link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--wt-link-hover-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


h1.light {
  color: var(--wt-text-color-light);
}
p.light{
  color: var(--wt-text-color-light);

}

strong{
  color: var(--wt-color-a1);
  font-weight: bold;
}

button {
  border-radius: 12px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  color: var(--wt-text-color);
  background-color: var(--wt-body-bg2);
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--wt-color-a1);
}






.box-blank {
  border-radius: 12px;
}
.box-1 {
  border-radius: 12px;
  background: var(--wt-body-bg1);
  flex-grow: 1;
}
.box-2 {
  border-radius: 12px;
  background: var(--wt-body-bg2);
}


.shadow-out {
  box-shadow: var(--wt-box-shadow-out);
}
.shadow-in {
  box-shadow: var(--wt-box-shadow-in);
}


.radius{
  border-radius: 12px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1.2em var(--wt-body-bg2));
}


#app {
  text-align: center;
  margin: 0;
  padding: 0;
}


/* layout */

.flex {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 612px) {
  .flex {
    flex-direction: column; /* 修改为垂直排列 */
  }
}




.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.m-3 {
  margin: 1rem;
}
.m-4 {
  margin: 1.5rem;
}
.m-5 {
  margin: 3rem;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 1rem;
}
.p-4 {
  padding: 1.5rem;
}
.p-5 {
  padding: 3rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}





